/* src/styles/ImageModal.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 모달이 다른 요소들보다 위에 오도록 설정 */
}

.modal {
  position: relative;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden; /* 스크롤 방지 */
  z-index: 1001; /* 모달 내용이 오버레이보다 위에 오도록 설정 */
  border: none;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain; /* 이미지 비율 유지 */
}

.modalSwiper {
  width: 100%;
  height: 100%;
}

.modalSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
}

.swiper-zoom-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
